{{ define "main" }}
<div class="blog-wrapper">
    <div class="nav-bg index-nav-bg">
        <div class="inner">
            <img src="{{ "/assets/images/blog-logo.avif" | relURL }}" alt="MoMoYu Blog Logo" class="nav-bg-1">
            <img src="https://s.anyway.red/momoyu/blink-main.avif" class="nav-bg-2">
        </div>
    </div>
    
    
    <div class="inner blog-inner">
        <header class="nav blog-nav blog-nav-index">
            <p class="blog-site-title">MoMoYu Blog</p>
            <a href="{{ "/" | relURL }}" class="blog-page-title-link">
                <h1 class="blog-page-title"><span>摸</span><span>摸</span><span>鱼</span>研究局</h1>
            </a>
            <p class="blog-description">{{ .Site.Params.description }}</p>
        </header>

        <main>
            {{ $posts := where .Site.RegularPages "Section" "posts" }}
            {{ if eq (len $posts) 0 }}
                <div class="box empty-posts-message">
                    还没有文章。试着在 <code class="inline-code">content/posts</code> 新建一篇 Markdown 文件吧！
                </div>
            {{ else }}
                <div class="post-list">
                    {{ range $posts }}
                        <a href="{{ .Permalink }}" class="box post-item">
                            {{ if index .Params "post-icon" }}
                                <i class="fa-regular fa-{{ index .Params "post-icon" }} post-icon"></i>
                            {{ end }}
                            <div class="post-meta">
                                {{ if .Date }}
                                    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006 年 1 月 2 日" }}</time>
                                {{ end }}
                            </div>
                            <h3 class="post-title">{{ .Title }}</h3>
                            <p class="post-description">{{ .Description | default "点击阅读全文。" }}</p>
                            {{ if .Params.tags }}
                                <div class="post-tags">
                                    {{ range .Params.tags }}
                                        <span class="post-tag"># {{ . }}</span>
                                    {{ end }}
                                </div>
                            {{ end }}
                        </a>
                    {{ end }}
                </div>
            {{ end }}
        </main>
    </div>
</div>
{{ end }}

